<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Menu
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="openRoute('/map')">Map</a>
                <a class="dropdown-item" (click)="openRoute('/weather')">Weather</a>
                <a class="dropdown-item" (click)="openRoute('/forecast')">Forecast</a>
            </div>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
